:root {
  --first-color: cyan;
  --first2-color: #41c2d3;
  --second-color: #d9d9d9;
  --dark-color: #0b345a;
  --ligth-color: #fff;
}
body {
  background: url(../img/layout.svg) no-repeat;
  background-size: cover;  
  background-color: var(--first-color);
}